{% extends 'base.html' %}

{% block content  %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>Tea</h1>
            <br />
            {% for tea in teas %}
                <div class="alert alert-dark" role="alert">
                    {{ tea }}
                </div>
                <br /><br />
            {% endfor %}
        </div>
        <div class="col-4">
            <br /><br /><br />
            {% if form %}
            <form method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">What's the Tea!</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
