{% extends 'base.html' %}
{% load static }
{% block content  %}
{% if profile %}
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1>{{ profile.user.username }}'s Profile</h1>
                <br />
                {% if teas %}
                    {% for tea in teas %}
                        <div class="alert alert-dark" role="alert">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                        {% if profile.profile_image %}
                                        <img 
                                            src="{{ profile.profile_image.url }}" 
                                            width="50"
                                            height="50"
                                            class="rounded-circle"
                                            alt="{{ profile.user.username }}"
                                        >
                                        {% else %}
                                        <img 
                                            src="{% static 'images/default_profile_pic.png' %}" 
                                            width="50"
                                            height="50"
                                            class="rounded-circle"
                                            alt="{{ profile.user.username }}"
                                        >
                                        {% endif %}
                                    </div>
                                    <div class="col-10">
                                        {{ tea.body }}
                                        <br />
                                        <small class="text-muted">
                                            {{ text.created_at }} By @{{ tea.user.username }}
                                            &nbsp;
                                            &nbsp;
                                            {{ tea.number_of_likes }}
                                            {% if user in tea.likes.all %}
                                                <a href="{% url 'tea_like' tea.id %}">
                                                    <i class="fa-solid fa-heart" style="color:red"></i>                                            
                                                </a>
                                            {% else %}
                                                <a href="{% url 'tea_like' tea.id %}">
                                                    <i class="fa fa-heart-o" style="color:red"></i>
                                                </a>
                                            {% endif%}
                                            &nbsp;
                                            &nbsp;
                                            <!-- link for post show -->
                                            <a href="{% url 'tea_show' tea.id %}">
                                                <i class="fa-solid fa-share" style="color:gray"></i>
                                            </a>
                                        </small>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                <br />
                <br />
                <br />

                <!-- Logic to check profile for image -->
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="rounded-circle" />
                <br />
                <br />
                {% endif %}

                <!-- LINKS -->
                {% if profile.homepage_link %}
                    <a href="{{ profile.homepage_link }}" target="new">
                        <i class="fa-solid fa-link" style="color:gray"></i>
                    </a>
                {% endif %}
                &nbsp;&nbsp;
                {% if profile.facebook_link %}
                    <a href="{{ profile.facebook_link }}" target="new">
                        <i class="fa-brand fa-facebook" style="color:gray"></i>
                    </a>
                {% endif %}
                &nbsp;&nbsp;
                {% if profile.instagram_link %}
                    <a href="{{ profile.instagram_link }}" target="new">
                        <i class="fa-brands fa-instagram" style="color:gray"></i>
                    </a>
                {% endif %}
                &nbsp;&nbsp;
                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target="new">
                        <i class="fa-brands fa-linkedin-in" style="color:gray"></i>
                    </a>
                {% endif %}

                <br/>
                <br/>

                {% if profile.profile_bio %}
                    <p>
                        {{ profile.profile_bio }}
                    </p>
                {% endif %}

                <div class="card">
                    <h5 class="card-header">Follows</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for following in profile.follows.all %}
                                <a href="{% url 'profile' following.user.id %}">
                                    @{{ following }}<br />
                                </a>
                                <a href="{% url 'unfollow' following.user.id %}">
                                    <i class="fa fa-undo small" style="color:gray"></i>
                                </a>
                            {% endfor %}
                        </p>
                  </div>
                </div>
                <br /><br />
                <div class="card">
                    <h5 class="card-header">Followed By</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for following in profile.followed_by.all %}
                                <a href="{% url 'profile' following.user.id %}">
                                    @{{ following }}<br />
                                </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <br />
                <form method=POST>
                    {% csrf_token %}
                    {% if profile in user.profile.follows.all %}
                        <!-- UNFOLLOW HIM/HER -->
                        <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                            Unfollow @{{ profile.user.username|lower }}
                        </button>
                    {% else %}
                        <!-- FOLLOW -->
                        <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                            Follow @{{ profile.user.username|lower }}
                        </button>
                    {% endif %}
                </form>
                <br />
                <!-- check for correct user -->
                {% if request.user.id == profile.user.id %}
                <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">
                    Update Profile
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
